<header  style="background-color:#424544 ">
  <nav  class="navbar navbar-expand-lg " >

  <button   class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
 
   <img  style="margin-bottom: 5px;" src="/images/mobile-marketing-3-48.ico" alt="" srcset="">

   <h2 style="margin-left: -15px;"><a  class="navbar-brand ml-4" href="/"><b style="font-size: 35px;" id="logo" ><span style=" color: #f69323;">Mobi</span><span style="color: #fff;">hub</span> </b> </a></h2>
 

  <div style="margin-left: 750px;"  class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
            </li>
      
      <li class="nav-item" style=" margin-top: 7px;">
             <a  href="/cart"> <img style=" margin-top: -5px; width: 25px; height: 25px;" src="/images/cart-73-32.ico" alt=""><span style="font-size: 18px ; color: #ffff; font-family: sans-serif;"> Cart</span> </a>  <span class="badge badge-success" style="background-color:#ffc17a; color: #424544;" id="cart-count">{{cartCount}}</span> 
{{#if user}}
      <li class="nav-item">
        <a style="font-family: sans-serif; color: white; font-size: 18px; margin-left: 20px;" class="nav-link" href="/orders">Orders</a>
      </li>
      {{/if}}
      
    </ul>
<div class="dropdown">
  <button style="border-color: #424544;  background-color:#424544; " class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{#if user}}
    <b style="font-family:sans-serif; color:#fff;">{{user.Name}}</b>
    {{else}}
     <b style="font-family:sans-serif; color:#fff;">Account</b>
    {{/if}}

  </button>

  <div style="background-color: #424544; min-width: 1rem; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
       {{#if user}}
    <a style="color: #ffff; background-color: #424544; " id="logout" class="dropdown-item" href="/logout"><b>Logout</b></a>
    {{else}}
    <a  style="color: #fff; background-color: #424544;" class="dropdown-item" href="/login"><b>Login</b></a>
    {{/if}}
  
  </div>
</div>
  </div>
</nav>
</header>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  #logo{
font-family: 'Poppins', sans-serif;
}
</style>