<section>
    <div class="row">
        <div class="container">
            <div class="col-md-12 text-center">
                <img style="margin-top: 20px;" src="images/download.jpg" alt="">
               <h1  style=" margin-top: 20px; color: green; font-family: 'Courier New', Courier, monospace"><b>Order Successfully Placed</b> </h1>
                
                <a style="margin-top: 20px;" href="/orders" class="btn btn-success"><b>View Orders</b></a>
            </div>
        </div>
    </div>
</section>